<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>百万闯关</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script type="text/javascript" src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/socket.io/2.0.4/socket.io.slim.js"></script>
    <script src="/static/layer_mobile/layer.js"></script>
</head>
<style>
    .selected {
        background-color: green;
        color: antiquewhite;
        border-radius: 5px;
        width: 210px;
    }

    .error {
        background-color: #FD482C;
        color: yellow;
        border-radius: 5px;
        width: 210px;
    }

    #tips {
        text-align: center;
        font-size: 12px;
        margin-top: 20px;
    }

    #daojishi {
        font-size: 55px;
        font-weight: 600;
        color: rebeccapurple;
        text-align: center;
        margin-top: 110px;
    }

    #optionA, #optionB, #optionC, #timu {
        font-size: 15px;
        height: 20px;
    }
    .answer_num{
        margin-left: 20px;
    }
    .jindutiao{
        position: absolute;
        margin-top: -30px;
        height: 20px;
        opacity: 0.4;
        display: none;
        border-radius: 5px;
    }
</style>
<body style="background-color: #F6F6F6;">
<div style="border: 1px solid goldenrod;border-radius: 8px; background-color:#FFF8DC;width: 80%;height: 350px;margin-top: 20px;"
     class="center-block">
    <p id="tips"></p>
    <p id="fuhuoka" style="text-align: center;font-size: 13px;font-weight: bold;font-family: "Helvetica Neue", Helvetica, Arial, sans-serif"></p>
    <p id="daojishi"></p>
    <div style="width: 70%;margin: auto;" id="timudiv">
        <p id="timu" style="height: 50px;font-size: 13px;font-weight: 500;"></p>
        <p onclick="emit_answer('A')" id="optionA"></p>
        <span class="jindutiao" id="jindutiaoA"></span>
        <p onclick="emit_answer('B')" id="optionB" style="margin-top:15px;"></p>
        <span class="jindutiao" id="jindutiaoB"></span>
        <p onclick="emit_answer('C')" id="optionC" style="margin-top:15px;"></p>
        <span class="jindutiao" id="jindutiaoC"></span>
    </div>
</div>
<script type="text/javascript">
    var my_alert = function (msg) {
        layer.open({
            content: msg
            , skin: 'msg'
            , time: 3
        });
    }
    var join, emit_answer, can_answer = true, can_click = false
    var user_id = Math.floor((Math.random() * 5) + 1)
    //var user_id = 1
    $(document).ready(function () {
        var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);
        socket.on('join', function (res) {
            if (res.success) {
                if (res.can_enter) {
                    socket.emit('enter', {'id': user_id})
                }
                $("#tips").text(res.msg)
            }
        });
        socket.on('timu', function (data) {
            $("#timu").text(data.num + '.' + data.timu.timu)
            $("#optionA").text('A.' + data.timu.A)
            $("#optionB").text('B.' + data.timu.B)
            $("#optionC").text('C.' + data.timu.C)
            $("#jindutiaoA").hide()
            $("#jindutiaoB").hide()
            $("#jindutiaoC").hide()
            $("#timudiv").show()
            $("#daojishi").hide()
            $('.selected').removeClass('selected')
            $('.error').removeClass('error')
            can_click = true
        });
        socket.on('daojishi', function (data) {
            var num = data.num
            $("#daojishi").text(num).show()
            $("#timudiv").hide()
        });

        socket.on('answer_result', function (data) {
            if (data.yes) {
                my_alert('恭喜你，答对了！')
            } else {
                can_answer = false
                if (data.submit) {
                    my_alert('回答错误，你已出局！')
                }
            }
            var total_num = data.A + data.B + data.C
            var answer = data.answer
            var jindutiaoAWidth = total_num > 0 ? data.A/total_num * 210 +'px' : '210px'
            var jindutiaoBWidth = total_num > 0 ? data.B/total_num * 210 +'px' : '210px'
            var jindutiaoCWidth = total_num > 0 ? data.C/total_num * 210 +'px' : '210px'
            $("#optionA").append('<span class="answer_num">'+data.A+'/'+total_num+'</span>').removeClass('selected').removeClass('error')
            $("#optionB").append('<span class="answer_num">'+data.B+'/'+total_num+'</span>').removeClass('selected').removeClass('error')
            $("#optionC").append('<span class="answer_num">'+data.C+'/'+total_num+'</span>').removeClass('selected').removeClass('error')
            $("#jindutiaoA").css({'display': 'block', 'width': jindutiaoAWidth,
                'background-color': answer=='A'?'green':'red'})
            $("#jindutiaoB").css({'display': 'block', 'width': jindutiaoBWidth,
                'background-color': answer=='B'?'green':'red'})
            $("#jindutiaoC").css({'display': 'block', 'width': jindutiaoCWidth,
                'background-color': answer=='C'?'green':'red'})
        });
        socket.on('success', function (data) {
            layer.open({
                content: data.msg
                , btn: '我知道了'
            });
            can_answer = true
        });
        socket.on('fail', function () {
            layer.open({
                content: '无人通关成功！'
                , btn: '我知道了'
            });
            can_answer = true
        });
        socket.on('ongoing', function () {
            can_answer = false
            my_alert('答题进行中，你可以围观！')
        });
        socket.on('timeout', function () {
           my_alert('时间到...')
        });
        socket.on('correct_answer', function (data) {
            my_alert('正确答案是:' + data.answer)
        });
        socket.on('relive', function () {
            my_alert('你已复活！')
            can_answer = true
        });
        socket.on('fuhuoka', function (data) {
            $("#fuhuoka").text('复活卡：' + data.num)
        });
        emit_answer = function (answer) {
            if (can_click) {
                if (can_answer) {
                    $('.selected').removeClass('selected')
                    $('.error').removeClass('error')
                    $("#option" + answer).addClass('selected')
                    socket.emit('subAnswer', {'result': answer})
                } else {
                    $('.error').removeClass('error')
                    $("#option" + answer).addClass('error')
                    my_alert('你已出局!')
                }
                can_click = false
            }
        }
    });
</script>
</body>
</html>